[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

flask = "*"
gunicorn = "*"
requests = "*"


[dev-packages]

yapf = "*"
pylama = "*"
ipdb = "*"
pudb = "*"




[requires]
python_version = "3.6"
